<div class="pensamento-container">
  <div class="pensamento-form-container">
    <a href="/pensamentos/dashboard">Voltar</a>
    <h1>O que você está Pensando?</h1>
    <form action="/pensamentos/add" method="post">
    <div class="form-control">
      <label for="title">Pensamento</label>
      <input type="text" name="title" placeholder="Digite o seu pensamento...">
    </div>
    <input type="submit" value="Criar Pensamento">
    </form>
  </div>
</div>